*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: white;
    margin: 0;
    padding: 0;
}

.logo-text{
    float: left;
    letter-spacing: 5px;
    padding-left: 15px;
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  ul li{
    display: inline;
  }

  ul li a {
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
  }

  ul li a:hover {
      animation-name: enlarge-nav;
      animation-duration: 2s;
      animation-fill-mode: forwards;
  }

  @keyframes enlarge-nav {
      100%{
          transform: scale(1.1);
          color: burlywood;
      }
  }

  .header-text{
    text-align: center;
    font-size: 70px;
    color: white;
}

.welcome-text{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
}

.header{
    text-align: center;
}

.navbar-image{
    width: 100%;
    height: 731px;
    background: black;    
}

.intro-text{
    text-align: center;
}

.search-box{
    width: 400px;
    outline:0;
    border: 0;
    border-bottom: 3px solid black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
    margin-bottom:20px;
}

.search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
